@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --Purple-100: hsl(254, 88%, 90%);
  --Purple-500: hsl(256, 67%, 59%);
  --Yellow-100: hsl(31, 66%, 93%);
  --Yellow-500: hsl(39, 100%, 71%);
  --White: hsl(0, 0%, 100%);
  --white-80: #f2f2f2;
  --Black: hsl(0, 0%, 7%);

  --DM-sans: "DM Sans", sans-serif;
  --font-size: 1.125rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
}
body {
  font-size: var(--font-size);
  font-family: var(--DM-sans);
  background-color: var(--white-80);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
}
h2,
h3 {
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -2.9px;
}
.italic {
  font-style: italic;
}
.cl-purple {
  color: var(--Purple-500);
}
.cl-yl {
  color: var(--Yellow-500);
}
.wrapper {
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: calc(100vw - 20%);
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}
.grid {
  display: grid;
  gap: 2rem;
  grid-auto-columns: 1fr;
  grid-auto-rows: 75px;
  grid-template-areas:
    "A B B C"
    "A B B C"
    "A B B C"
    "A B B C"
    "A E F C"
    "D E F C"
    "D E F C"
    "D G H H"
    "D G H H"
    "D G H H";
}
.item {
  padding: 1rem;
  border-radius: 15px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}
.A {
  grid-area: A;
  padding: 5.5rem 2.5rem;
  background-color: var(--Yellow-100);
  gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.A h1 {
  font-weight: 500;
  font-size: 2.5em;
  letter-spacing: -2px;
  line-height: 1;
}
.B {
  grid-area: B;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--Purple-500);
  color: white;
  padding: 2.5rem 3rem;
  text-align: center;
}
.B h2 {
  font-size: 3.5em;
}
.B .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  font-weight: 300;
}
.B .inner img {
  width: 50%;
}
.C {
  padding: 3.5rem 2.4rem;
  grid-area: C;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--Purple-100);
  overflow: hidden;
  gap: 1.5rem;
}
.C h2 {
  font-size: 2em;
  letter-spacing: -1px;
}
.C img {
  width: 180%;
  transform: translateX(0%);
}
.C p {
  font-size: var(--font-size);
  font-weight: 500;
}
.D {
  grid-area: D;
  background-color: var(--Yellow-500);
  padding: 2rem;
  justify-content: space-between;
}
.D h1 {
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -2px;
  margin-bottom: 1.5rem;
}
.D img {
  width: 110%;
}
.E {
  grid-area: E;
  background-color: var(--White);
  padding: 1.5rem;
  justify-content: space-between;
  overflow: hidden;
}
.E h3 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: -1px;
}
.E img {
  width: 149%;
}
.F {
  grid-area: F;
  overflow: hidden;
  background-color: var(--Yellow-500);
  padding: 1.5rem;
}
.F h2 {
  font-size: 2em;
  letter-spacing: -1px;
}

.F img {
  transform: translateY(10%);
}

.G {
  grid-area: G;
  background-color: var(--White);
  padding: 1.5rem;
  justify-content: space-between;
}
.big {
  font-size: 3.5em;
  font-weight: 500;
}
.G h4 {
  font-size: 1em;
  font-weight: 500;
}
.G img {
  width: 80%;
}
.H {
  grid-area: H;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--Purple-500);
  color: white;
  padding: 2rem;
}
.H h2 {
  letter-spacing: 1px;
  font-size: 2em;
}
.H img {
  width: 50%;
}
.attribute{
  text-align: center;
  padding: 1rem;
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas:
    "B"
    "E"
    "F"
    "C"
    "H"
    "G"
    "A"
    "D";
    grid-auto-rows: auto;
  }
}
@media (max-width: 600px) {
  .wrapper {
    max-width: calc(100vw - 10%);
  }
  .A {
    align-items: flex-start;
  }
  .A h1 {
    font-size: 1.5em;
    font-weight: 700;
  }
  .A img {
    width: 80%;
  }
  .B h2 {
    font-size: 2.5em;
  }
  .B .inner img {
    width: 80%;
  }
  .C {
    padding: 2rem 1rem;
  }
  .C h2 {
    font-size: 1.3em;
    font-weight: 700;
    text-align: center;
  }
  .C img {
    width: 100%;
  }
  .C p {
    text-align: center;
    font-size: 1.1em;
  }
  .D {
    padding: 2rem 1.5rem;
  }
  .D h1 {
    font-size: 1.8em;
  }
  .D img {
    width: 80%;
  }
  .E img {
    width: 100%;
  }
  .E h3 {
    font-size: 1.3em;
    font-weight: 700;
  }
  .F h2 {
    font-size: 1.5em;
    font-weight: 700;
  }
  .F img {
    width: 70%;
  }
  .G {
    gap: 1rem;
  }
  .G img {
    width: 50%;
  }
  .H {
    flex-direction: column;
    font-size: 0.8em;
    text-align: center;
    gap: 1rem;
    padding: 2rem 4rem;
  }
  .H img {
    width: 100%;
  }
}
